<h2>Signin</h2>

<form method="POST" action="/signin">
    <div>
        <label>Email</label>
        <input type="text" name="emailAddress">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>

    <input type="submit">
</form>